<?xml version="1.0" ?>
<launch>

  <!-- spacenav reader node uses spnav python module read joystick and buttons on space navigator pro (and regular version) -->
  <node name="spacenav_reader" pkg="hdt_spacenav_extras"  type="spacenav_reader.py" respawn="false" output="screen">
  </node>
  
  <node name="joystick_converter" pkg="hdt_spacenav_extras"  type="joystick_converter.py" respawn="false" output="screen">
  
  </node>


	
<!--
			/hdt_adroit_coms/joint10/hdt_ls_telem/temperature
			/hdt_adroit_coms/gripper2/hdt_ls_telem/temperature"/>
	
	<node name="bus_current_plot" pkg="rqt_plot" type="rqt_plot"
		args="/hdt_adroit_coms/joint1/hdt_ls_telem/bus_current 
			/hdt_adroit_coms/joint2/hdt_ls_telem/bus_current 
			/hdt_adroit_coms/joint3/hdt_ls_telem/bus_current
			/hdt_adroit_coms/joint4/hdt_ls_telem/bus_current
			/hdt_adroit_coms/joint10/hdt_ls_telem/bus_current
			/hdt_adroit_coms/gripper2/hdt_ls_telem/bus_current"/>
	-->


</launch>
