<launch>
 <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
    <arg name="filters" default="pointcloud" />
 </include>

 <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" default="pointcloud" />
 </include> -->


<!-- 60 mm up of the drive6_housing_link -->
 <!-- <node pkg="tf" type="static_transform_publisher" name="kinect_broadcaster" args="0 0.1 0 0 0 3.14 pincer_housing_link camera_link" /> -->
 <node pkg="tf" type="static_transform_publisher" name="kinect_broadcaster" args="0 0 0.06 1.57 0 -1.57 drive6_housing_link camera_link 100" />
 <!-- <node pkg="tf" type="static_transform_publisher" name="kinect_broadcaster" args="0 0 0 1.57 0 -1.57 drive6_housing_link camera_bottom_screw_frame 100" /> --> -->
</launch>