<library path="src">
  <class name="HDTconsole" type="hdt_adroit_debug.hdt_console.HDTconsole" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to steer a robot with a geometry_msgs/Twist message.
    </description>
    <qtgui>
      <group>
        <label>HDT Tools</label>
        <icon type="theme">folder</icon>
        <statustip>debug tools for HDT</statustip>
      </group>
      <label>HDT console</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A Python GUI plugin for steering a robot using geometry_msgs/Twist messages.</statustip>
    </qtgui>
  </class>
</library>
