<?xml version="1.0" ?>
<launch>

  <node name="socketcan_script" pkg="hdt_adroit_debug" type="peak_usb.sh" args="can0" output="screen"/>
  
  <!-- socketcan bridge node creates sent and recieved message topics for interacting with CAN bus -->
  <node name="socketcan_bridge" pkg="socketcan_bridge"  type="socketcan_bridge_node" respawn="false" output="screen">
  </node>

  <node name="drive_controller" pkg="hdt_adroit_debug"  type="drive_controller.py" respawn="false" output="screen">
  </node>
  
  <node name="rqt_dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find hdt_adroit_debug)/config/drive_control_rqt.perspective"/>
	
<!--
			/hdt_adroit_coms/joint10/hdt_ls_telem/temperature
			/hdt_adroit_coms/gripper2/hdt_ls_telem/temperature"/>
	
	<node name="bus_current_plot" pkg="rqt_plot" type="rqt_plot"
		args="/hdt_adroit_coms/joint1/hdt_ls_telem/bus_current 
			/hdt_adroit_coms/joint2/hdt_ls_telem/bus_current 
			/hdt_adroit_coms/joint3/hdt_ls_telem/bus_current
			/hdt_adroit_coms/joint4/hdt_ls_telem/bus_current
			/hdt_adroit_coms/joint10/hdt_ls_telem/bus_current
			/hdt_adroit_coms/gripper2/hdt_ls_telem/bus_current"/>
	-->


</launch>
